

/* ==========================================================================
   Styles
   ========================================================================== */
   
#qLpercentage {
	font-family: 'Edmondsans-Bold', sans-serif;
}

html {
	background: #b6b6b6;
}
   
body {
	margin: 0;
	padding: 0;
	background: url(../img/grid.png) fixed;
}

#skrollr-body {
	width: 100%;
	min-height: 3920px !important;
}

.pages {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.pages.light {
	color: #464646;
	background: url(../img/grid.png) fixed;
}

.pages.dark {
	background: url(../img/dark_wall.png);
	color: #b6b6b6;
	box-shadow: 0 0 50px rgba(0,0,0,0.6);
}

.pages h2 {
	font-family: 'Edmondsans-Bold', sans-serif;
	font-weight: normal;
	font-size: 60px;
	line-height: 54px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.pages blockquote {
	font-family: 'Vollkorn', serif;
	padding: 0;
	background: transparent;
	border: 0;
	width: 70%;
	text-align: center;
	margin: 0 15%;
	max-width: 1140px;
}

.pages blockquote p {
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 20px 0;
}

.just {
	text-align: justify;
}

.pages blockquote small {
	color: #b6b6b6;
	line-height: 36px;
}

#welcome, #hat1, #hat2 {
	min-height: 780px;
}

#hat3 {
	min-height: 808px;
}

#welcome h2 {
	position: absolute;
	top: 50px;
	width: 100%;
	z-index: 2;
}

#welcome blockquote {
	position: absolute;
	top: 130px;
	z-index: 2;
}

#welcome #me {
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	height: 507px;
	background: url(../img/me.png) no-repeat;
	background-size: 600px auto;
	z-index: 0;
	opacity: .30;
}

#welcome .circle {
	width: 32px;
	height: 32px;
	border-radius: 32px;
	text-align: center;
	background: #b6b6b6;
	display: block;
	margin: 0px auto;
	line-height: 36px;
	transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
}

#welcome .circle:hover {
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#hat1 .hat {
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	height: 308px;
	background: url(../img/hat2_light.png) no-repeat;
	background-size: 400px auto;
	opacity: .1;
	z-index: 1;
}

#hat1 h2 {
	position: absolute;
	top: 140px;
	width: 100%;
	z-index: 2;
}

#hat1 blockquote {
	position: absolute;
	top: 430px;
	z-index: 2;
}

#hat2 .hat {
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	height: 287px;
	background: url(../img/hat1_dark.png) no-repeat;
	background-size: 400px auto;
	opacity: .1;
	z-index: 1;
}

#hat2 h2 {
	position: absolute;
	top: 150px;
	width: 100%;
	z-index: 2;
}

#hat2 blockquote {
	position: absolute;
	top: 420px;
	z-index: 2;
}

#hat3 .hat {
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	height: 218px;
	background: url(../img/hat4_light.png) no-repeat;
	background-size: 400px auto;
	opacity: .1;
	z-index: 1;
}

#hat3 h2 {
	position: absolute;
	top: 110px;
	width: 100%;
	z-index: 2;
}

#hat3 blockquote {
	position: absolute;
	top: 316px;
	z-index: 2;
}

#portfolio {
	padding-bottom: 70px;
}

#portfolio h2 {
	margin: 50px auto;
}

#carousel {
	width: 70%;
	margin: 0px 15% 20px 15%;
	box-shadow: 0 0 11px 1px rgba(70, 70, 70, 0.5);
	max-width: 1140px;
}

.carousel-control {
	left: -21px;
	border-radius: 0px !important;
	background: #464646;
	margin-top: 0px !important;
	border: 0px !important;
}

.carousel-control.right {
	right: -21px;
}

.carousel-control i {
	margin-top: 12px;
}

.carousel-control:hover {
	opacity: 1;
}

.carousel-caption {
	background: rgba(70,70,70,0.7);
}

.carousel-caption p {
	font-family: 'Vollkorn', serif;
}

.carousel-caption a {
	color: #b6b6b6;
	font-weight: bold;
	text-decoration: none;
	font-family: 'Edmondsans-Bold', sans-serif;
	text-transform: uppercase;
	margin-top: -2px;
	padding: 0px 4px 1px 4px;
}

.carousel-caption a:hover {
	color: #fff;
	text-decoration: none;
}

#carousel-info {
	text-align: center;
	margin: 0px auto 30px auto 0px;
	padding: 0px;
	font-family: 'Edmondsans-Medium', sans-serif;
	line-height: 32px;
}

#carousel-info span {
	background: rgba(70,70,70,.6);
	padding: 2px 3px 0px 3px;
	margin-right: 2px;
}

.carousel-control {
	opacity: 0.6;
}

#contact {
	padding: 100px 0px;
}

#downloadbtn {
	padding: 24px 40px;
	width: 100%;
	border-radius: 8px;
	background: #b6b6b6;
	color: #464646;
	font-family: 'Edmondsans-Bold', sans-serif;
	font-size: 32px;
	line-height: 32px;
	margin: 20px auto 40px auto;
	display: inline-block;
	width: 50%;
	text-shadow: 0 1px 1px #c6c6c6;
	border: 1px solid #464646;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

#downloadbtn:hover {
	text-shadow: 0 2px 2px #464646;
	text-decoration: none;
	color: #fff;
	box-shadow: inset 0px 0px 6px 0px #464646;
	background: #666;
}

.social {
	font-family: 'Edmondsans-Regular', sans-serif;
	font-size: 16px;
	padding: 0 8px;
}

a[href^=tel], .emaillink, .social {
	color: #b6b6b6;
	text-decoration: none;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

a[href^=tel]:active, a[href^=tel]:hover, .emaillink:hover, .social:hover, .emaillink:active {
	color: #d0d0d0;
	text-decoration: none;
}

.social img {
	opacity: 0.75;
	transition: all ease-in-out 0.2s;
	margin: 0 5px 0 0;
	border: 0px;
}

.social:hover img {
	opacity: 1;
}


/* ==========================================================================
   Responsive Queries and Retina Display
   ========================================================================== */
   
@media (max-width: 767px) {

	.pages blockquote {
		width: 92%;
		margin: 0 4%;
	}
	
	.pages blockquote p {
		font-size: 16px;
		line-height: 22px;
	}
	
	#carousel {
		width: 84%;
		margin: 0 8% 20px 8%;
	}

}
   

@media (max-width: 500px)  {

	#welcome {
		min-height: 468px;
	}

	#hat1, #hat2 {
		min-height: 780px;
	}

	#hat3 {
		min-height: 808px;
	}

	#welcome #me {
		width: 320px;
		height: 270px;
		background-size: 320px auto;
		margin-left: -160px;
		position: absolute;
	}
	
	#hat1 h2, #hat2 h2, #hat3 h2, #portfolio h2 {
		font-size: 42px;
		line-height: 46px;
	}
	
	#hat1 .hat {
		margin-left: -170px;
		width: 340px;
		height: 262px;
		background: url(../img/hat2_light.png) no-repeat;
		background-size: 340px auto;
	}
	
	#hat1 h2 {
		top: 110px;
	}

	#hat1 blockquote {
		top: 430px;
	}

	#hat2 .hat {
		margin-left: -170px;
		width: 340px;
		height: 244px;
		background: url(../img/hat1_dark.png) no-repeat;
		background-size: 340px auto;
	}
	
	#hat2 h2 {
		top: 112px;
	}

	#hat2 blockquote {
		top: 390px;
	}

	#hat3 .hat {
		margin-left: -170px;
		width: 340px;
		height: 185px;
		background: url(../img/hat4_light.png) no-repeat;
		background-size: 340px auto;
	}
	
	#hat3 h2 {
		top: 80px;
	}

	#hat3 blockquote {
		top: 284px;
	}

	.carousel-caption {
		position: relative;
		padding: 4px;
		font-size: 12px;
	}

	.carousel-caption p {
		text-align: center;
	}

	.carousel-caption .pull-right {
		display: block;
		float: none;
		margin-top: 4px;
	}

	#contact {
		padding-top: 60px !important;
	}

}

@media (max-width: 380px)  {

	#downloadbtn {
		padding: 18px 30px;
		font-size: 26px;
		line-height: 26px;
	}

	.social {
		padding: 0px;
		display: block;
		margin: 18px auto;
	}

	.social img {
		display: block;
		margin: 3px auto;
	}

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

	.pages.light {
		background: url(../img/grid_@2X.png);
		background-size: 310px auto;
	}

	.pages.dark {
		background: url(../img/dark_wall_@2X.png);
		background-size: 300px auto;
	}

}




/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'Edmondsans-Bold';
    src: url('../fonts/edmondsans-bold-webfont.eot');
    src: url('../fonts/edmondsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/edmondsans-bold-webfont.woff') format('woff'),
         url('../fonts/edmondsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/edmondsans-bold-webfont.svg#edmondsans_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Edmondsans-Medium';
    src: url('../fonts/edmondsans-medium-webfont.eot');
    src: url('../fonts/edmondsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/edmondsans-medium-webfont.woff') format('woff'),
         url('../fonts/edmondsans-medium-webfont.ttf') format('truetype'),
         url('../fonts/edmondsans-medium-webfont.svg#edmondsans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Edmondsans-Regular';
    src: url('../fonts/edmondsans-regular-webfont.eot');
    src: url('../fonts/edmondsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/edmondsans-regular-webfont.woff') format('woff'),
         url('../fonts/edmondsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/edmondsans-regular-webfont.svg#edmondsans_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





