/* line 1, ../scss/_base.scss */
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

/* line 7, ../scss/_base.scss */
.no-video .video-container video,
.touch .video-container video {
  display: none;
}

/* line 11, ../scss/_base.scss */
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

/* line 14, ../scss/_base.scss */
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #1a1a1a;
}

/* line 23, ../scss/_base.scss */
.touch .video-container {
  background: url("../img/waves.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 28, ../scss/_base.scss */
.video-container .poster img {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

/* line 34, ../scss/_base.scss */
.touch .video-container .poster img {
  display: none;
}

/* line 37, ../scss/_base.scss */
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: #1a1a1a;
  width: 100%;
  opacity: .80;
}

/* line 44, ../scss/_base.scss */
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}
/* line 53, ../scss/_base.scss */
.video-container .title-container .title-wrap {
  display: table;
  width: 100%;
  height: 100%;
  border: 0px;
}
/* line 58, ../scss/_base.scss */
.video-container .title-container .title-wrap .headline {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/* line 66, ../scss/_base.scss */
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}

/* line 71, ../scss/_base.scss */
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: white;
}

/* line 80, ../scss/_base.scss */
.video-container .link a {
  color: white;
}

/* line 83, ../scss/_base.scss */
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

/* line 88, ../scss/_base.scss */
.video-container video.fillWidth {
  width: 100%;
  height: auto !important;
}

/* line 92, ../scss/_base.scss */
body {
  background: url("../img/white_sand.png");
  font-family: "Open Sans", Helvetica, Arial, serif;
  font-weight: 300;
  color: #1a1a1a;
  overflow: hidden;
}

/* line 99, ../scss/_base.scss */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1a1a1a;
  z-index: 9999;
}

/* line 108, ../scss/_base.scss */
.cssload {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -160px;
  display: block;
}

/* line 117, ../scss/_base.scss */
.cssload-loader {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  margin: 113px auto 0px auto;
  display: block;
  position: relative;
  vertical-align: middle;
  background: #898989;
}

/* line 129, ../scss/_base.scss */
.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
  animation: 1.15s infinite ease-in-out;
  -o-animation: 1.15s infinite ease-in-out;
  -ms-animation: 1.15s infinite ease-in-out;
  -webkit-animation: 1.15s infinite ease-in-out;
  -moz-animation: 1.15s infinite ease-in-out;
}

/* line 137, ../scss/_base.scss */
.cssload-loader:before,
.cssload-loader:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 145, ../scss/_base.scss */
.cssload-loader {
  animation-name: cssload-loader;
  -o-animation-name: cssload-loader;
  -ms-animation-name: cssload-loader;
  -webkit-animation-name: cssload-loader;
  -moz-animation-name: cssload-loader;
}

@keyframes cssload-loader {
  /* line 153, ../scss/_base.scss */
  from {
    transform: scale(0);
    opacity: 1;
  }

  /* line 154, ../scss/_base.scss */
  to {
    transform: scale(1);
    opacity: 0;
  }
}

@-o-keyframes cssload-loader {
  /* line 157, ../scss/_base.scss */
  from {
    -o-transform: scale(0);
    opacity: 1;
  }

  /* line 158, ../scss/_base.scss */
  to {
    -o-transform: scale(1);
    opacity: 0;
  }
}

@-ms-keyframes cssload-loader {
  /* line 161, ../scss/_base.scss */
  from {
    -ms-transform: scale(0);
    opacity: 1;
  }

  /* line 162, ../scss/_base.scss */
  to {
    -ms-transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-loader {
  /* line 165, ../scss/_base.scss */
  from {
    -webkit-transform: scale(0);
    opacity: 1;
  }

  /* line 166, ../scss/_base.scss */
  to {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@-moz-keyframes cssload-loader {
  /* line 169, ../scss/_base.scss */
  from {
    -moz-transform: scale(0);
    opacity: 1;
  }

  /* line 170, ../scss/_base.scss */
  to {
    -moz-transform: scale(1);
    opacity: 0;
  }
}

/* line 172, ../scss/_base.scss */
#status {
  width: 52px;
  height: 52px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -26px 0 0 -26px;
  background: #1a1a1a url("../img/loading.gif") no-repeat center;
  background-size: cover;
}

/* line 182, ../scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 700;
}

/* line 186, ../scss/_base.scss */
blockquote {
  font-family: "Playfair Display", Georgia, serif;
  border-left: 0;
}

/* line 190, ../scss/_base.scss */
blockquote p {
  font-size: 20px;
}

/* line 193, ../scss/_base.scss */
blockquote footer, blockquote small, blockquote .small {
  color: #1a1a1a;
  font-size: 90%;
}

/* line 197, ../scss/_base.scss */
cite {
  font-style: italic;
}

/* line 200, ../scss/_base.scss */
hr {
  border-top: 1px solid #1a1a1a;
}

/* line 203, ../scss/_base.scss */
a {
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 210, ../scss/_base.scss */
.rwd-line {
  display: inline;
}

/* line 213, ../scss/_base.scss */
.navbar-default {
  background-color: transparent;
  border: 0px;
}

/* line 217, ../scss/_base.scss */
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #898989;
  font-size: 36px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: block;
  border: 0px;
  transform: scale(1.25, 1.25);
  float: none;
  position: absolute;
  top: 8px !important;
  right: 8px !important;
  margin: 0px;
}

/* line 235, ../scss/_base.scss */
.navmenu-brand {
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 900;
  color: white;
  opacity: 0;
  margin: 12px 12px 12px 19px;
  padding: 0;
  font-size: 20px;
  visibility: hidden;
  display: block;
  -ms-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* line 250, ../scss/_base.scss */
.navmenu-brand:hover, .navmenu-brand:focus {
  color: #d5d5d5;
}

/* line 254, ../scss/_base.scss */
.sticky {
  background-color: rgba(26, 26, 26, 0.9);
}
/* line 256, ../scss/_base.scss */
.sticky .navmenu-brand {
  visibility: visible;
  opacity: 1;
}
/* line 260, ../scss/_base.scss */
.sticky .navbar-toggle {
  color: white !important;
}
/* line 262, ../scss/_base.scss */
.sticky .navbar-toggle .icon-bar {
  background: white !important;
}

/* line 267, ../scss/_base.scss */
.navmenu {
  width: 280px;
}

/* line 270, ../scss/_base.scss */
.navbar-default .navbar-toggle.open {
  margin-right: 0px;
  padding: 9px 0px;
}

/* line 274, ../scss/_base.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
  color: #ababab;
}

/* line 278, ../scss/_base.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #898989;
  /*  width: 36px;
    height: 4px;*/
  transition: all 0.3s;
}

/* line 284, ../scss/_base.scss */
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: white;
}

/*.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 6px;
}*/
/* line 290, ../scss/_base.scss */
.navbar-default .navbar-toggle .top-bar {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

/* line 294, ../scss/_base.scss */
.navbar-default .navbar-toggle .middle-bar {
  opacity: 1;
}

/* line 297, ../scss/_base.scss */
.navbar-default .navbar-toggle .bottom-bar {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

/* line 301, ../scss/_base.scss */
.navbar-default .navbar-toggle.open .top-bar {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

/* line 307, ../scss/_base.scss */
.navbar-default .navbar-toggle.open .middle-bar {
  opacity: 0;
}

/* line 310, ../scss/_base.scss */
.navbar-default .navbar-toggle.open .bottom-bar {
  -webkit-transform: rotate(-44deg);
  transform: rotate(-44deg);
  -webkit-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

/* line 316, ../scss/_base.scss */
.navmenu-default, .navbar-default .navbar-offcanvas {
  background-color: whitesmoke;
  border-color: whitesmoke;
}

/* line 320, ../scss/_base.scss */
.navmenu-default .navmenu-nav > li > a, .navbar-default .navbar-offcanvas .navmenu-nav > li > a {
  color: #898989;
  font-family: "Playfair Display", Georgia, serif;
  font-size: 17px;
  font-weight: 700;
}

/* line 326, ../scss/_base.scss */
.btn-default {
  background-color: transparent;
  border-color: #1a1a1a;
  border-width: 3px;
  border-radius: 0px;
  background: linear-gradient(to right, transparent 50%, #1a1a1a 50%);
  transition: all .3s ease;
  background-size: 250% 100%;
  background-position: left bottom;
  font-weight: 700;
}

/* line 337, ../scss/_base.scss */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-position: right bottom;
  color: white !important;
  border-color: #1a1a1a !important;
  background-color: #1a1a1a !important;
}

/* line 343, ../scss/_base.scss */
.btn:active, .btn.active {
  box-shadow: none;
}

/* line 346, ../scss/_base.scss */
.btn-group.open .dropdown-toggle, .dropdown-menu {
  box-shadow: none;
}

/* line 349, ../scss/_base.scss */
.dropdown-menu {
  border-radius: 0px;
  background-color: whitesmoke;
  border: 0px;
  text-align: left;
  margin-top: 0px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 361, ../scss/_base.scss */
#resume-cta .dropdown-menu {
  width: 100%;
}

/* line 364, ../scss/_base.scss */
.dropdown-menu:before {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid whitesmoke;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  z-index: 1;
  display: inline-block;
  content: '';
}

/* line 378, ../scss/_base.scss */
.dropdown-menu > li > a {
  color: #1a1a1a;
}

/* line 381, ../scss/_base.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: white;
  color: #1a1a1a;
}

/* line 385, ../scss/_base.scss */
p.larger {
  font-size: 16px;
  line-height: 22px;
}

/* line 389, ../scss/_base.scss */
.homepage-hero-module .headline h1 {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 100px;
  letter-spacing: -1px;
  font-weight: 900;
}

/* line 395, ../scss/_base.scss */
.homepage-hero-module .headline h2 {
  font-family: "Open Sans", Helvetica, Arial, serif;
  font-size: 24px;
  font-weight: 300;
  color: #898989;
}

/* line 401, ../scss/_base.scss */
.scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 101;
  margin-left: -45px;
  height: 45px;
  width: 90px;
  color: white;
  text-align: center;
  font-size: 36px;
  line-height: 45px;
}

/* line 417, ../scss/_base.scss */
#overview {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (min-width: 768px) {
  /* line 421, ../scss/_base.scss */
  #overview h2 {
    font-size: 42px;
    margin-bottom: 40px;
    padding: 0 14%;
  }
}
/* line 428, ../scss/_base.scss */
#overview .lead {
  max-width: 90%;
  margin: 0px auto 20px auto;
}

/* line 433, ../scss/_base.scss */
#resume-cta {
  margin-top: 20px;
}

/* line 436, ../scss/_base.scss */
#services-container {
  text-align: center;
  background: #1a1a1a;
  color: white;
  padding-bottom: 80px;
}

/* line 442, ../scss/_base.scss */
#services {
  text-align: center;
  cursor: pointer;
  padding-top: 1px;
}

/* line 447, ../scss/_base.scss */
#services h2 {
  margin-top: 0px;
  margin-bottom: 40px;
}

/* line 451, ../scss/_base.scss */
.service {
  margin: 20px auto;
  text-align: center;
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  min-height: 320px;
}

/* line 461, ../scss/_base.scss */
.service__front,
.service__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100 !important;
}

/* line 470, ../scss/_base.scss */
.service__front,
.service__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

/* line 476, ../scss/_base.scss */
.service__front {
  border: 3px solid #898989;
  color: #898989;
  background: transparent;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 480, ../scss/_base.scss */
.service__front h3 {
  margin: 0px;
}
/* line 488, ../scss/_base.scss */
.service__front:hover {
  color: white;
  border: 3px solid #898989;
  background: #898989;
}

/* line 494, ../scss/_base.scss */
.service__back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background: white;
  border: 3px solid white;
}
/* line 499, ../scss/_base.scss */
.service__back a {
  color: #d5d5d5;
  transition: all 0.3s ease-out;
  text-decoration: none;
}
/* line 503, ../scss/_base.scss */
.service__back a i {
  display: inline !important;
}
/* line 506, ../scss/_base.scss */
.service__back a:hover {
  text-decoration: none;
  color: #898989;
}

/* line 512, ../scss/_base.scss */
.service.effect__click.flipped .service__front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  z-index: 100 !important;
  transform-style: preserve-3d;
}

/* line 519, ../scss/_base.scss */
.service.effect__click.flipped .service__back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  z-index: 100 !important;
  transform-style: preserve-3d;
}

/* line 525, ../scss/_base.scss */
.service__text-container {
  display: table;
  width: 100%;
  height: 100%;
  border: 0px;
}
/* line 530, ../scss/_base.scss */
.service__text-container .service__text {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 0 20px;
}
/* line 537, ../scss/_base.scss */
.service__text-container .service__text i {
  display: block;
  clear: both;
  margin-bottom: 12px;
}
/* line 542, ../scss/_base.scss */
.service__text-container .service__text h3 {
  font-family: "Open Sans", Helvetica, Arial, serif;
  font-weight: 100;
  font-size: 19px;
}

/* line 549, ../scss/_base.scss */
#skills-container {
  background: white;
}

/* line 552, ../scss/_base.scss */
#skills {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* line 557, ../scss/_base.scss */
#skills h2 {
  margin-top: 0px;
  margin-bottom: 40px;
}

/* line 561, ../scss/_base.scss */
#skills h3 {
  margin-bottom: 20px;
}

/* line 564, ../scss/_base.scss */
#skills-tabs {
  text-align: center;
  margin: 40px 0;
}

/* line 568, ../scss/_base.scss */
#skills-tabs > li {
  display: inline-block;
  float: none;
}

/* line 572, ../scss/_base.scss */
.nav-tabs > li > a {
  border-radius: 0px;
  color: #898989;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 581, ../scss/_base.scss */
.nav-tabs > li > a:hover {
  border-color: whitesmoke whitesmoke #d5d5d5;
  color: #1a1a1a;
}

/* line 585, ../scss/_base.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid #d5d5d5;
  border-bottom-color: transparent;
  color: #1a1a1a !important;
}

/* line 590, ../scss/_base.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: whitesmoke;
}

/* line 593, ../scss/_base.scss */
.list-group-item {
  border: 1px solid #d5d5d5;
}

/* line 596, ../scss/_base.scss */
.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0px;
}

/* line 599, ../scss/_base.scss */
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}

/* line 603, ../scss/_base.scss */
.row.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* line 607, ../scss/_base.scss */
#work-container {
  text-align: center;
  background: url("../img/gray_sand.png");
  color: white;
  padding-bottom: 80px;
}

/* line 613, ../scss/_base.scss */
#work-container img {
  width: 100%;
  height: auto;
}

/* line 617, ../scss/_base.scss */
#work {
  padding-top: 80px;
  padding-bottom: 40px;
}

/* line 621, ../scss/_base.scss */
#work h2 {
  margin: 0px;
}

/* line 624, ../scss/_base.scss */
.work-sample {
  overflow: hidden;
}

/*.work-sample img {
  transform: scale(1.15);
  transition: all,.3s;
}
.work-sample:hover img {
  transform: scale(1);
}*/
/* line 634, ../scss/_base.scss */
.work-sample a {
  transition: none;
  color: white;
  text-decoration: none;
}

/* line 639, ../scss/_base.scss */
.work-sample .description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 646, ../scss/_base.scss */
.work-sample:hover .description {
  display: block;
  opacity: 1;
}

/* line 650, ../scss/_base.scss */
.work-sample h4 {
  font-size: 26px;
  padding: 0 5%;
}
@media (max-width: 479px) {
  /* line 650, ../scss/_base.scss */
  .work-sample h4 {
    display: none;
  }
}

/* line 657, ../scss/_base.scss */
.work-sample p {
  font-size: 15px;
  padding: 0 4%;
}

/* line 661, ../scss/_base.scss */
.work-sample .description .overlay {
  background: #1a1a1a;
  position: absolute;
  width: 101%;
  height: 101%;
  opacity: 0;
  z-index: 1;
  transition: all,.3s;
}

/* line 670, ../scss/_base.scss */
.work-sample:hover .description .overlay {
  opacity: .9;
}

/* line 673, ../scss/_base.scss */
.work-sample .description .copy-container {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: all,.3s;
}

/* line 684, ../scss/_base.scss */
.work-sample:hover .description .copy-container {
  opacity: 1;
}

/* line 687, ../scss/_base.scss */
.work-sample .description .copy-container .copy {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

/* line 692, ../scss/_base.scss */
.modal-content {
  color: #1a1a1a;
  border-radius: 0px;
  border: 0px;
}

/* line 697, ../scss/_base.scss */
.modal-content a {
  color: #898989;
}

/* line 700, ../scss/_base.scss */
.modal-header {
  border-bottom: 0px;
  padding-bottom: 0px;
}

/* line 704, ../scss/_base.scss */
.modal-header h3 {
  margin-bottom: 0px;
}

/* line 707, ../scss/_base.scss */
.modal-body h4 {
  font-size: 18px;
}

/* line 710, ../scss/_base.scss */
.modal-img h4 {
  font-family: "Open Sans", Helvetica, Arial, serif;
  color: #ababab;
  font-weight: 300;
  font-size: 24px;
}
@media (min-width: 769px) {
  /* line 710, ../scss/_base.scss */
  .modal-img h4 {
    font-size: 26px;
  }
}

/* line 719, ../scss/_base.scss */
.modal-img h5 {
  font-size: 16px;
  margin: 20px 0;
}
@media (min-width: 769px) {
  /* line 719, ../scss/_base.scss */
  .modal-img h5 {
    margin: 40px 0;
    font-size: 18px;
  }
}

/* line 727, ../scss/_base.scss */
.modal-img .lazy {
  opacity: 0;
  transition: opacity .3s ease-in;
}

/* line 731, ../scss/_base.scss */
.modal-footer {
  border-top: 0px;
  background: #1a1a1a;
  color: white;
  padding: 0;
  margin: 0px;
  text-align: center;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 743, ../scss/_base.scss */
.modal-footer .btn-default {
  padding: 20px;
  display: block;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 100;
  border: 0px !important;
  background: transparent !important;
}
/* line 753, ../scss/_base.scss */
.modal-footer:hover {
  background: #898989;
}

/* line 757, ../scss/_base.scss */
#about {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

/* line 765, ../scss/_base.scss */
#about-intro h2 {
  margin: 0 0 20px 0;
}

/* line 768, ../scss/_base.scss */
#about-intro p.larger {
  padding-left: 5%;
  padding-right: 5%;
}

/* line 772, ../scss/_base.scss */
#about #about-facts {
  margin-top: 30px;
}

/* line 775, ../scss/_base.scss */
#about .panel {
  padding: 30px 0;
  background: transparent;
  box-shadow: none;
  border: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 787, ../scss/_base.scss */
#about .panel p {
  margin-top: 10px;
  padding: 0 4%;
}
/* line 791, ../scss/_base.scss */
#about .panel:hover {
  transform: scale(1.15, 1.15);
}

/* line 795, ../scss/_base.scss */
#contact-container {
  background: #1a1a1a;
  color: white;
}

/* line 799, ../scss/_base.scss */
#contact {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

/* line 804, ../scss/_base.scss */
#contact h2 {
  margin-bottom: 40px;
}

/* line 807, ../scss/_base.scss */
#contact a {
  color: #898989;
}

/* line 810, ../scss/_base.scss */
#contact a:hover {
  color: #d5d5d5;
  text-decoration: none;
}

/* line 814, ../scss/_base.scss */
#contact p.larger {
  padding: 0 8%;
}
@media (min-width: 768px) {
  /* line 814, ../scss/_base.scss */
  #contact p.larger {
    padding: 0 26%;
  }
}

/* line 820, ../scss/_base.scss */
#contact-intro {
  padding-bottom: 40px;
}

/* line 823, ../scss/_base.scss */
#contact .btn-default {
  margin-top: 30px;
  border-color: #898989;
  background: #898989;
  color: white;
  background-position: left bottom;
  background-size: 220% 100%;
  display: block;
  width: 100%;
}

/* line 833, ../scss/_base.scss */
#contact .btn-default:hover, #contact .btn-default:focus, #contact .btn-default:active, #contact .btn-default.active {
  background: #d5d5d5 !important;
  color: #1a1a1a !important;
  border-color: #d5d5d5 !important;
}

/* line 838, ../scss/_base.scss */
#contact-form {
  text-align: left;
}

/* line 841, ../scss/_base.scss */
#contact-form label {
  display: block;
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 10px;
  color: #d5d5d5;
}

/* line 849, ../scss/_base.scss */
.form-control {
  border-radius: 0px;
  border: 1px solid #d5d5d5;
  background-color: transparent;
  color: #d5d5d5;
  font-weight: 100;
  padding: 12px;
  height: auto;
}

/* line 858, ../scss/_base.scss */
.form-control:focus {
  border: 1px solid #d5d5d5;
  background: #d5d5d5;
  color: #1a1a1a;
  box-shadow: none;
  font-weight: 700;
}

/* line 865, ../scss/_base.scss */
textarea {
  resize: vertical;
}

/* line 868, ../scss/_base.scss */
#connect-container {
  text-align: center;
  background: url("../img/gray_sand.png");
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* line 875, ../scss/_base.scss */
#connect h2 {
  margin-top: 0px;
  margin-bottom: 40px;
}

/* line 879, ../scss/_base.scss */
#connect a {
  color: #898989;
}

/* line 882, ../scss/_base.scss */
#connect a:hover {
  color: #d5d5d5;
  text-decoration: none;
}

/* line 886, ../scss/_base.scss */
footer.footer {
  background: white;
  color: #1a1a1a;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 24px;
  font-weight: 100;
}

@media (max-width: 710px) {
  /* line 897, ../scss/_base.scss */
  .homepage-hero-module .headline h1 {
    font-size: 80px;
  }

  /* line 900, ../scss/_base.scss */
  .homepage-hero-module .headline h2 {
    font-size: 26px;
  }

  /* line 903, ../scss/_base.scss */
  .rwd-line {
    display: block;
  }
}
@media (max-width: 640px) {
  /* line 911, ../scss/_base.scss */
  .homepage-hero-module .headline h1 {
    font-size: 70px;
    padding: 0 20%;
  }

  /* line 915, ../scss/_base.scss */
  .homepage-hero-module .headline h2 {
    font-size: 22px;
    line-height: 14px;
  }
}
@media (max-width: 451px) {
  /* line 921, ../scss/_base.scss */
  .homepage-hero-module .headline {
    margin-top: -50px;
  }

  /* line 924, ../scss/_base.scss */
  .homepage-hero-module .headline h1 {
    font-size: 60px;
    padding: 0 10%;
  }

  /* line 928, ../scss/_base.scss */
  #skills-tabs {
    margin-bottom: 20px;
    background: whitesmoke;
    padding: 10px 0;
    border: 0px;
  }

  /* line 934, ../scss/_base.scss */
  #skills-tabs li {
    font-size: 13px;
    border: 0px;
  }
  /* line 937, ../scss/_base.scss */
  #skills-tabs li a {
    color: #c1c1c1;
    border: 0px;
    padding: 0 5px;
    margin-right: 0px;
  }
  /* line 944, ../scss/_base.scss */
  #skills-tabs li.active a, #skills-tabs li:hover a, #skills-tabs li:focus a {
    border: 0px;
    color: #1a1a1a !important;
    background-color: transparent;
  }

  /* line 951, ../scss/_base.scss */
  .nav-tabs > li > a {
    margin-bottom: 7px;
  }

  /* line 954, ../scss/_base.scss */
  .nav-tabs > li > a:hover {
    border-color: whitesmoke;
  }
}
