.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: $black;
}
.touch .video-container {
  background: url('../img/waves.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}
.touch .video-container .poster img {
  display: none;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: $black;
  width: 100%;
  opacity: .80;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: $white;
  .title-wrap {
    display: table;
    width: 100%;
    height: 100%;
    border: 0px;
    .headline {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 100%;
    }
  }
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: $white;
}
.video-container .link a {
  color: $white;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
  height: auto !important;
}
body {
  background: url('../img/white_sand.png');
  font-family: $sansSerif;
  font-weight: 300;
  color: $black;
  overflow: hidden;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $black;
  z-index: 9999;
}
.cssload {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -160px;
  display: block;
}
.cssload-loader {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  margin: 113px auto 0px auto;
  display: block;
  position: relative;
  vertical-align: middle;
  background:rgb(137,137,137);
}
.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
  animation: 1.15s infinite ease-in-out;
  -o-animation: 1.15s infinite ease-in-out;
  -ms-animation: 1.15s infinite ease-in-out;
  -webkit-animation: 1.15s infinite ease-in-out;
  -moz-animation: 1.15s infinite ease-in-out;
}
.cssload-loader:before,
.cssload-loader:after {
  width: 100%; 
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.cssload-loader {
  animation-name: cssload-loader;
  -o-animation-name: cssload-loader;
  -ms-animation-name: cssload-loader;
  -webkit-animation-name: cssload-loader;
  -moz-animation-name: cssload-loader;
}
@keyframes cssload-loader {
  from { transform: scale(0); opacity: 1; }
  to   { transform: scale(1); opacity: 0; }
}
@-o-keyframes cssload-loader {
  from { -o-transform: scale(0); opacity: 1; }
  to   { -o-transform: scale(1); opacity: 0; }
}
@-ms-keyframes cssload-loader {
  from { -ms-transform: scale(0); opacity: 1; }
  to   { -ms-transform: scale(1); opacity: 0; }
}
@-webkit-keyframes cssload-loader {
  from { -webkit-transform: scale(0); opacity: 1; }
  to   { -webkit-transform: scale(1); opacity: 0; }
}
@-moz-keyframes cssload-loader {
  from { -moz-transform: scale(0); opacity: 1; }
  to   { -moz-transform: scale(1); opacity: 0; }
}
#status {
  width: 52px;
  height: 52px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -26px 0 0 -26px;
  background: #1a1a1a url('../img/loading.gif') no-repeat center;
  background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
  font-weight: 700;
}
blockquote {
  font-family: $serif;
  border-left: 0;
}
blockquote p {
  font-size: 20px;
}
blockquote footer, blockquote small, blockquote .small {
  color: $black;
  font-size: 90%;
}
cite {
  font-style: italic;
}
hr {
  border-top: 1px solid $black;
}
a {
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.rwd-line {
  display: inline;
}
.navbar-default {
  background-color: transparent;
  border: 0px;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: $mediumGray;
  font-size: 36px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: block;
  border: 0px;
  transform: scale(1.25,1.25);
  float: none;
  position: absolute;
  top: 8px !important;
  right: 8px !important;
  margin: 0px;
}
.navmenu-brand {
  font-family: $serif;
  font-weight: 900;
  color: $white;
  opacity: 0;
  margin: 12px;
  padding: 0;
  font-size: 20px;
  visibility: hidden;
  display: block;
  -ms-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  &:hover, &:focus {
    color: $lightGray;
  }
}
.sticky {
  background-color: rgba(26, 26, 26, 0.9);
  .navmenu-brand {
    visibility: visible;
    opacity: 1;
  }
  .navbar-toggle {
    color: $white !important;
    .icon-bar {
      background: $white !important;
    }
  }
}
.navmenu {
  width: 280px;
}
.navbar-default .navbar-toggle.open {
  margin-right: 0px;
  padding: 9px 0px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
  color: $altGray;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $mediumGray;
/*  width: 36px;
  height: 4px;*/
  transition: all 0.3s;
}
/*.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 6px;
}*/
.navbar-default .navbar-toggle .top-bar {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.navbar-default .navbar-toggle .middle-bar {
  opacity: 1;
}
.navbar-default .navbar-toggle .bottom-bar {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.navbar-default .navbar-toggle.open .top-bar {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}
.navbar-default .navbar-toggle.open .middle-bar {
  opacity: 0;
}
.navbar-default .navbar-toggle.open .bottom-bar {
  -webkit-transform: rotate(-44deg);
  transform: rotate(-44deg);
  -webkit-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
.navmenu-default, .navbar-default .navbar-offcanvas {
  background-color: $lighterGray;
  border-color: $lighterGray;
}
.navmenu-default .navmenu-nav>li>a, .navbar-default .navbar-offcanvas .navmenu-nav>li>a {
  color: $mediumGray;
  font-family: $serif;
  font-size: 17px;
  font-weight: 700;
}
.btn-default {
  background-color: transparent;
  border-color: $black;
  border-width: 3px;
  border-radius: 0px;
  background: linear-gradient(to right, transparent 50%, $black 50%);
  transition:all .3s ease;
  background-size: 250% 100%;
  background-position:left bottom;
  font-weight: 700;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-position:right bottom;
  color: $white !important;
  border-color: $black !important;
  background-color: $black !important;
}
.btn:active, .btn.active {
  box-shadow: none;
}
.btn-group.open .dropdown-toggle, .dropdown-menu {
  box-shadow: none;
}
.dropdown-menu {
  border-radius: 0px;
  background-color: $lighterGray;
  border: 0px;
  text-align: left;
  margin-top: 0px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#resume-cta .dropdown-menu {
  width: 100%;
}
.dropdown-menu:before {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $lighterGray;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  z-index: 1;
  display: inline-block;
  content: '';
}
.dropdown-menu>li>a {
  color: $black;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background: $white;
  color: $black;
}
p.larger {
  font-size: 16px;
  line-height: 22px;
}
.homepage-hero-module .headline h1 {
  font-family: $serif;
  font-size: 100px;
  letter-spacing: -1px;
  font-weight: 900;
}
.homepage-hero-module .headline h2 {
  font-family: $sansSerif;
  font-size: 24px;
  font-weight: 300;
  color: $mediumGray;
}
.scroll-down{
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 101;
  margin-left: -45px;  
  height:45px;
  width:90px;
  color: $white;
  text-align: center;
  font-size: 36px;
  line-height: 45px;
}
#content {

}
#overview {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  h2 {
    @media (min-width: 768px) {
      font-size: 42px;
      margin-bottom: 40px;
      padding: 0 14%;
    }
  }
  .lead {
    max-width: 90%;
    margin: 0px auto 20px auto;
  }
}
#resume-cta {
  margin-top: 20px;
}
#services-container {
  text-align: center;
  background: $black;
  color: $white;
  padding-bottom: 80px;
}
#services {
  text-align: center;
  cursor: pointer;
  padding-top: 1px;
}
#services h2 {
  margin-top: 0px;
  margin-bottom: 40px;
}
.service {
  margin: 20px auto;
  text-align: center;
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  min-height: 320px;
}
.service__front,
.service__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100 !important;
}
.service__front,
.service__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.service__front {
  border: 3px solid $mediumGray;
  color: $mediumGray;
  background: transparent;
  h3 {
    margin: 0px;
  }
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  &:hover {
    color: $white;
    border: 3px solid $mediumGray;
    background: $mediumGray;
  }
}
.service__back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background: $white;
  border: 3px solid $white;
  a {
    color: $lightGray;
    transition: all 0.3s ease-out;
    text-decoration: none;
    i {
      display: inline !important;
    }
    &:hover {
      text-decoration: none;
      color: $mediumGray;
    }
  }
}
.service.effect__click.flipped .service__front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  z-index: 100 !important;
  transform-style: preserve-3d;
}

.service.effect__click.flipped .service__back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  z-index: 100 !important;
  transform-style: preserve-3d;
}
.service__text-container {
  display: table;
  width: 100%;
  height: 100%;
  border: 0px;
  .service__text {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 0 20px;
    i {
      display: block;
      clear: both;
      margin-bottom: 12px;
    }
    h3 {
      font-family: $sansSerif;
      font-weight: 100;
      font-size: 19px;
    }
  }
}
#skills-container {
  background: $white;
}
#skills {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
#skills h2 {
  margin-top: 0px;
  margin-bottom: 40px;
}
#skills h3 {
  margin-bottom: 20px;
}
#skills-tabs {
  text-align: center;
  margin: 40px 0;
}
#skills-tabs > li {
  display: inline-block;
  float: none;
}
.nav-tabs>li>a {
  border-radius: 0px;
  color: $mediumGray;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.nav-tabs>li>a:hover {
  border-color: $lighterGray $lighterGray $lightGray;
  color: $black;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: 1px solid $lightGray;
  border-bottom-color: transparent;
  color: $black !important;
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: $lighterGray;
}
.list-group-item {
  border: 1px solid $lightGray;
}
.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0px;
}
.row.no-gutter {
  margin-right:0;
  margin-left:0;
}
.row.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
#work-container {
  text-align: center;
  background: url('../img/gray_sand.png');
  color: $white;
  padding-bottom: 80px;
}
#work-container img {
  width: 100%;
  height: auto;
}
#work {
  padding-top: 80px;
  padding-bottom: 40px;
}
#work h2 {
  margin: 0px;
}
.work-sample {
  overflow: hidden;
}
/*.work-sample img {
  transform: scale(1.15);
  transition: all,.3s;
}
.work-sample:hover img {
  transform: scale(1);
}*/
.work-sample a {
  transition: none;
  color: $white;
  text-decoration: none;
}
.work-sample .description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.work-sample:hover .description {
  display: block;
  opacity: 1;
}
.work-sample h4 {
  font-size: 26px;
  padding: 0 5%;
  @media (max-width: 479px) {
    display: none;
  }
}
.work-sample p {
  font-size: 15px;
  padding: 0 4%;
}
.work-sample .description .overlay {
  background: $black;
  position: absolute;
  width: 101%;
  height: 101%;
  opacity: 0;
  z-index: 1;
  transition: all,.3s;
}
.work-sample:hover .description .overlay {
  opacity: .9;
}
.work-sample .description .copy-container {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: all,.3s;
}
.work-sample:hover .description .copy-container {
  opacity: 1;
}
.work-sample .description .copy-container .copy {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.modal-content {
  color: $black;
  border-radius: 0px;
  border: 0px;
}
.modal-content a {
  color: $mediumGray;
}
.modal-header {
  border-bottom: 0px;
  padding-bottom: 0px;
}
.modal-header h3 {
  margin-bottom: 0px;
}
.modal-body h4 {
  font-size: 18px;
}
.modal-footer {
  border-top: 0px;
  background: $black;
  color: $white;
  padding: 0;
  margin: 0px;
  text-align: center;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  .btn-default {
    padding: 20px;
    display: block;
    width: 100%;
    color: $white;
    font-size: 18px;
    font-weight: 100;
    border: 0px !important;
    background: transparent !important;
  }
  &:hover {
    background: $mediumGray;
  }
}
#about {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
#about-intro {

}
#about-intro h2 {
  margin: 0 0 20px 0;
}
#about-intro p.larger {
  padding-left: 5%;
  padding-right: 5%;
}
#about #about-facts {
  margin-top: 30px;
}
#about .panel {
  padding: 30px 0;
  background: transparent;
  box-shadow: none;
  border: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  p {
    margin-top: 10px;
    padding: 0 4%;
  }
  &:hover {
    transform: scale(1.15,1.15);
  }
}
#contact-container {
  background: $black;
  color: $white;
}
#contact {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
#contact h2 {
  margin-bottom: 40px;
}
#contact a {
  color: $mediumGray;
}
#contact a:hover {
  color: $lightGray;
  text-decoration: none;
}
#contact-intro {
  padding-bottom: 40px;
}
#contact .btn-default {
  margin-top: 30px;
  border-color: $mediumGray;
  background: $mediumGray;
  color: $white;
  background-position: left bottom;
  background-size: 220% 100%;
  display: block;
  width: 100%;
}
#contact .btn-default:hover, #contact .btn-default:focus, #contact .btn-default:active, #contact .btn-default.active {
  background: $lightGray !important;
  color: $black !important;
  border-color: $lightGray !important;
}
#contact-form {
  text-align: left;
}
#contact-form label {
  display: block;
  font-family: $serif;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 10px;
  color: $lightGray;
}
.form-control {
  border-radius: 0px;
  border: 1px solid $lightGray;
  background-color: transparent;
  color: $lightGray;
  font-weight: 100;
  padding: 12px;
  height: auto;
}
.form-control:focus {
  border: 1px solid $lightGray;
  background: $lightGray;
  color: $black;
  box-shadow: none;
  font-weight: 700;
}
textarea {
  resize: vertical;
}
#connect-container {
  text-align: center;
  background: url('../img/gray_sand.png');
  color: $white;
  padding-top: 80px;
  padding-bottom: 80px; 
}
#connect h2 {
  margin-top: 0px;
  margin-bottom: 40px;
}
#connect a {
  color: $mediumGray;
}
#connect a:hover {
  color: $lightGray;
  text-decoration: none;
}
footer.footer {
  background: $white;
  color: $black;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 24px;
  font-weight: 100;
}

@media (max-width: 710px) {
  .homepage-hero-module .headline h1 {
    font-size: 80px;
  }
  .homepage-hero-module .headline h2 {
    font-size: 26px;
  }
  .rwd-line {
    display: block;
  }
}
@media (min-width: 521px) {

}
@media (max-width: 640px) {
  .homepage-hero-module .headline h1 {
    font-size: 70px;
    padding: 0 20%;
  }
  .homepage-hero-module .headline h2 {
    font-size: 22px;
    line-height: 14px;
  }
}
@media (max-width: 451px) {
  .homepage-hero-module .headline {
    margin-top: -50px;
  }
  .homepage-hero-module .headline h1 {
    font-size: 60px;
    padding: 0 10%;
  }
  #skills-tabs {
    margin-bottom: 20px;
    background: $lighterGray;
    padding: 10px 0;
    border: 0px;
  }
  #skills-tabs li {
    font-size: 12px;
    border: 0px;
    a {
      color: #c1c1c1;
      border: 0px;
      padding: 0 6px;
    }
    &.active, &:hover, &:focus {
      a {
        border: 0px;
        color: $black !important;
        background-color: transparent;
      }
    }
  }
  .nav-tabs>li>a {
    margin-bottom: 7px;
  }
  .nav-tabs>li>a:hover {
    border-color: $lighterGray;
  }
}